@font-face {
    font-family: 'Geologica Roman';
    src: url('fonts/Geologica-Thin.ttf') format("truetype");
    font-weight: 100;
    font-style: thin;
}
@font-face {
    font-family: 'Geologica Roman';
    src: url('fonts/Geologica-ExtraLight.ttf') format("truetype");
    font-weight: 200;
    font-style: extra-light;
}
@font-face {
    font-family: 'Geologica Roman';
    src: url('fonts/Geologica-Light.ttf') format("truetype");
    font-weight: 300;
    font-style: light;
}
@font-face {
    font-family: 'Geologica Roman';
    src: url('fonts/Geologica-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Geologica Roman';
    src: url('fonts/Geologica-Medium.ttf') format("truetype");
    font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: 'Geologica Roman';
    src: url('fonts/Geologica-SemiBold.ttf') format("truetype");
    font-weight: 600;
    font-style: semi-bold;
}
@font-face {
    font-family: 'Geologica Roman';
    src: url('fonts/Geologica-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family: 'Geologica Roman';
    src: url('fonts/Geologica-ExtraBold.ttf') format("truetype");
    font-weight: 800;
    font-style: extra-bold;
}
@font-face {
    font-family: 'Geologica Roman';
    src: url('fonts/Geologica-Black.ttf') format("truetype");
    font-weight: 900;
    font-style: black;
}
/* font for charts */
@font-face {
    font-family: 'Geologica Roman Chart';
    src: url('fonts/Geologica-Light.ttf') format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: 'Geologica Roman Chart';
    src: url('fonts/Geologica-SemiBold.ttf') format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: 'Geologica Roman Chart Hoverlabel';
    src: url('fonts/Geologica-ExtraLight.ttf') format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: 'Geologica Roman Chart Hoverlabel';
    src: url('fonts/Geologica-SemiBold.ttf') format("truetype");
    font-weight: 700;
}


body, html {
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}
html H2 {
    color:#454545;
    font-size: 1.75em;
    font-weight: 500;
    text-align:center;
    padding: 0;
    margin: 1.5vh 0 1.5vh 0;
}
html H3 {
    color:#454545;
    font-size: 1.5em;
    font-weight: 400;
    text-align:center;
    padding: 0;
    margin: 1.5vh 0 1.5vh 0;
    /* border: 1px solid green; */
}
html H4 {
    color:#454545;
    font-size: 1.25em;
    font-weight: 400;
    text-align:center;
    padding: 0;
    margin: 1.5vh 0 1.5vh 0;
    /* border: 1px solid red; */
}
html H5 {
    color:#454545;
    font-size: 1em;
    font-weight: 400;
    text-align:center;
    padding: 0;
    margin: 1.5vh 0 1.5vh 0;
}
html H6 {
    color:#454545;
    font-size: 0.9em;
    font-weight: 400;
    text-align:center;
    padding: 0;
    margin: 0;
    display:flex;
    align-items: center;
}
html p {
    margin: 0;
    padding:0;
}
html div {
    margin: 0;
    padding: 0;
}
html a {
    margin: 0;
    padding: 0;
}
html hr {
    margin: 0;
    padding: 0;
}

/* LINES */

.hr-grey {
    border-top: 1px solid #E1E1E1;
    display: flex;
    justify-content: center;
    width: 100%;
}
.hr-yellow {
    border-top: 1px solid #F3DE8A;
    display: flex;
    justify-content: center;
    width: 100%;
}
.vr-grey {
    border-left: 1px solid #E1E1E1;
    /* display:inline-block; */
    /* display: flex; */
    /* justify-content: center; */
    float: left;
}


/* SIDEBAR */

.nav-pills {
    /* font-size: 0.8rem; */
}
.nav-pills a {
    color: #707070;
    text-align: center
}
.nav-pills a:hover {
    color: #202020;
}
.nav-pills .nav-link.active {
    /* background-color: #EDEDED; */
    /* color: #C23838; */
    background-color: #909090;
    color: #FFFFFF;
}


/* Logo */

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1vh 0 1vh 0;
    background-color: #FFFFFF;
}
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #EAEAEA;
}

.separator:not(:empty)::before {
    margin-right: 0.3em;
}

.separator:not(:empty)::after {
    margin-left: 0.3em;
}


/* HEADERS */

.header {
    display:inline-block;
    background-color: #FFFFFF;
    /* border: 1px solid red; */
}

.hr-header-big-top {
    background-color: #FFFFFF;
    border-top: 1px solid #E1E1E1;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2vh 0 1vh 0;
}
.hr-header-big-bottom {
    background-color: #FFFFFF;
    border-top: 1px solid #E1E1E1;
    display: block;
    justify-content: center;
    width: 100%;
    margin: 0.5vh 0 1vh 0;
}
.header-big-container {
    text-align: center;
    display: inline-block;
    background-color: #FFFFFF;
    width: 100vw;
    height: 4vh;
    line-height: 4vh;
}
.header-big-button {
    float:left;
    background-color: #FFFFFF;
    width: 13vw;
    height:inherit;
    line-height:inherit;
    font-size: 1.15em;
    text-align: center;
    font-weight: 400;
    border-right: 1px solid #F1F1F1;
    /* border: 1px solid red; */
}
.header-big-button-active {
    float:left;
    background-color: #FFFFFF;
    width: 13vw;
    height:inherit;
    line-height:inherit;
    font-size:inherit;
    font-size: 1.15em;
    text-align: center;
    font-weight: 400;
    border-right: 1px solid #F1F1F1;
}
.header-big-button a {
    color: #606060;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    margin: auto;
}
.header-big-button-active a {
    color: #505050;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    margin: auto;
}
.header-big-button-active .main {
    color: #202124;
    font-weight: 500;
}
.header-big-button-active .main:hover {
    color: #202124;
}
.header-big-button .main-hover:hover {
    color: #AAAAAA;
}
.header-big-button-active .inflation {
    color: #31629A;
    font-weight: 500;
}
.header-big-button-active .inflation:hover {
    color: #31629A;
}
.header-big-button .inflation-hover:hover {
    color: #4E81BB;
}
.header-big-button-active .budget {
    color: #429C7F;
    font-weight: 500;
}
.header-big-button-active .budget:hover {
    color: #429C7F;  
}
.header-big-button .budget-hover:hover {
    color: #61AF96;
}

/* small-header */

.hr-header-small {
    border-top: 0.5vh solid #3C3D4B;
    display:inline-block;
    display: flex;
    justify-content: center;
}

.header-small-container {
    background-color: #FFFFFF;
    background-color: #3C3D4B;
    width: 100%;
    display: inline-block;
    height: 3vh;
    display: flex;
    align-items: center;
    /* border-top: 4px solid #3C3D4B; */
}
.header-small-button {
    display:inline;
    float:left;
    background-color: #3C3D4B;
    color: #FFFFFF;
    width: 10vw;
    height: 3vh;
    line-height: 3vh;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
}
.header-small-button a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 300;
}
.header-small-button a:hover {
    color: #CD5B5B;
}
.header-small-button-active {
    display:inline;
    float:left;
    /* background-color: #FFFFFF; */
    background-color: #F6F6F6;
    width: 10vw;
    height: 3vh;
    line-height: 3vh;
    font-size: 1em;
    text-align: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header-small-button-active a {
    text-decoration: none;
    color: #505050;
    font-weight: 400;
}
.header-small-button-active a:hover {
    color: #505050;
}

/* KPI */

.inflation-kpi-dash-container {
    /* border: 1px solid yellow; */
}

.inflation-kpi-dash-title {
    text-align: center;
    font-size: 1.1em;
    font-weight: 300;
    color:#353535;
    margin: 0 0 1vh 0;
}
.inflation-kpi-dash-content {
    text-align: center;
    font-size: 4vh;
    font-weight: 500;
    margin-top: 0vh;
    padding-left: 5%;
    /* margin-bottom: -1vh; */
}
.forecasts-main-container {
    display: flex;
    align-items: top;
    width:100%;
    height:100%;
    padding: 0.75vh 0 0 0;
}
.forecasts-container {
    float:left;
    width: 33%;
    font-size: 1.15em;
}
.forecasts-title {
    /* width:25%; */
    text-align:center;
    font-size:0.95em;
    font-weight: 200;
    margin: 0 0 1vh 0;
}
.forecasts-content {
    text-align:center;
    font-size:0.95em;
    font-weight: 600;
}

/* FIGURES */

.content {
    font-family: 'Geologica Roman';
    font-weight: 200;
    font-size: 0.85em;
    background-color: #F6F6F6;
}

.page-container {
    background-color: #F6F6F6;
    width: 98vw;
    height: 100%;
    margin: 0 1vw 5vh 1vw;
    display: inline-block;
}

.graph-figure {
    width: 100%;
    height: 100%;
    font-family: 'Geologica Roman', 'system-ui';
}
.content-container {
    display:inline-block;
    float:left;
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19); */
}
input[type='radio'] {
    box-shadow:none;
    outline:none;
}
input[type='radio']:focus {
    box-shadow:none;
    outline:none;
}
input[type='radio']:checked {
    border-color: #FFFFFF;
    background-color: #4976AA;
}


#prices-radioitems-input input[type='radio'] {
    accent-color: #2F68A8;
    margin-right: 0.5em;
    margin-top: 0.75em;
    width: 1.1em;
    
}

/* #prices-radioitems-input label:nth-child(1) {
  color: red;
  flex: 1;
} */












